<!-- NGX LOADER -->
<div class="ngxLoader" *ngIf="showLoader">
    <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>

<div class="toolbar">
    <mat-toolbar class="toolbar">
        <span >Update Bot</span>
        <div class="spacer"></div>
        <mat-icon mat-dialog-close class="pointer" matTooltip="Close">close</mat-icon>
    </mat-toolbar>
</div>

<form [formGroup]="updateBotForm" class="pad-16">

    <!-- ROI -->
    <mat-form-field>
        <mat-label>Roi</mat-label>
        <input matInput type="number" color="primary" formControlName="roi">
    </mat-form-field>

    <!-- FOLLOWERS -->
    <mat-form-field>
        <mat-label>Followers</mat-label>
        <input matInput color="primary" formControlName="followers" type="number">
    </mat-form-field>

    <!-- TOTAL PROFIT -->
    <mat-form-field>
        <mat-label> Profit</mat-label>
        <input matInput color="primary" formControlName="totalProfit" type="number">
    </mat-form-field>

</form>

<!-- BUTTONS -->
<div class="btn pad-8">


    <!-- ADD OR UPDATE BUTTON -->
    <!-- <button mat-raised-button class="buttons" color="primary" [disabled]="walletTierForm.invalid" -->
    <button mat-raised-button class="buttons" color="primary" (click)="updateBot()">
        Update Bot
    </button>


    <!-- CANCEL BUTTONS -->
    <button mat-button class="buttons" mat-dialog-close>
        Cancel
    </button>

</div>