.toolbar {
  background-color: #1e88e5;
  color: white;
}

mat-form-field {
  width: 70%;
  margin-right: 10px;
  margin-left: 30px;
}

.reply_container {
  align-items: baseline;
  text-align: center;
}

.chat_container{
  padding: 5px;
}

.chat_container {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: scroll;
}

.message {
  padding: 5px;
  margin: 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.left {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.message.right {
  align-self: flex-end;
  background-color: #d5e8d4;
}

