      

   


      <div class="chat-container">
        <div *ngFor="let message of chatData" class="message" [ngClass]="{'left': isIssue(message), 'right': !isIssue(message)}">
          <div class="message-content">{{ message.message }}</div>
        </div>
      </div>
      

  <div class="form">
    <form (ngSubmit)="submitTicket()" class="form-container">
        <mat-form-field appearance="fill">
          <input matInput type="text" name="issue" [(ngModel)]="newTicketIssue" placeholder="Reply">
        </mat-form-field>
        <button class="primary-button submit-button " mat-raised-button type="submit" style="background-color:#67757c;">Submit</button>
      </form>
    </div>



    
      