        <!-- HEADING -->
        <mat-toolbar class="heading">
          <span>{{data.mode == 'create'? 'Upload Banner': 'Update Banner'}}</span>
            <mat-icon class="mat-icon" mat-dialog-close matTooltip="close">close</mat-icon>
        </mat-toolbar>
<div class="main_container">


    <div class="flex pad-8 header">
  

  
  </div>
  
  
  <div class="input-card">
      <!-- <mat-card appearance="outlined" class="mat-card"> -->
        <!-- <h3 ><b>Upload Image </b></h3> -->
        <form [formGroup]="form" style="width: 100%; max-width: 400px;">
          <div *ngIf="data.mode == 'update' && previousImageUrl" class="image-preview">
            <img [src]="previousImageUrl" alt="Previous Image" class="preview-image">
          </div>
          <div class="file-input">
            <input type="file" id="fileUpload" (change)="onFileSelected($event)" required>
            <mat-error *ngIf="!file && data.mode=='create'">Image file is required</mat-error>
          </div>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Text</mat-label>
            <input matInput formControlName="text">
          </mat-form-field>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Link</mat-label>
            <input matInput formControlName="link">
          </mat-form-field>
          <div class="btn">
          <button *ngIf="data.mode == 'update'" class="btn-style"
                  (click)="updateBanner()" mat-flat-button [disabled]="!form.valid" >Update</button>
          <button *ngIf="data.mode == 'create'" class="btn-style"
          (click)="upload()" mat-flat-button [disabled]="!form.valid || !file" >Upload</button>
        </div>
        </form>
      <!-- </mat-card> -->
    </div>
</div>