.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e88e5;
    color: white;
}

.main_container {
    padding: 0px 10px;
}

.file-input{
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    left: 112px;}

// .mat-card{
//     width: 500px; 
//     height: auto; 
//     display: flex; 
//     flex-direction: column; 
//     align-items: center; 
//     overflow-x: hidden;
//     margin-top:10px;
// }

.mat-icon{
    cursor: pointer;
}

.image-preview {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .preview-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .input-card{
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    overflow-x: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .btn{
    display: flex;
    justify-content: center;
  }
  .btn-style{
    background-color: #1e88e5; 
    color: white; 
    // width: 100%; 
    // max-width: 400px; 
    // margin-top: 20px;
  }