        <!-- HEADING -->
        <mat-toolbar class="heading">
          <span>{{data.mode == 'create'? 'Upload Banner': 'Update Banner'}}</span>
            <mat-icon class="mat-icon" mat-dialog-close matTooltip="close">close</mat-icon>
        </mat-toolbar>
<div class="main_container">


    <div class="flex pad-8 header">
  

  
  </div>
  
  
  <div class="input-card">
      <mat-card appearance="outlined" class="mat-card">
        <h3 ><b>Upload Image </b></h3>
        <form [formGroup]="form" style="width: 100%; max-width: 400px;">
          <div class="file-input">
            <input type="file" id="fileUpload" (change)="onFileSelected($event)" required>
            <mat-error *ngIf="!file">Image file is required</mat-error>
          </div>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Text</mat-label>
            <input matInput formControlName="text">
          </mat-form-field>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Link</mat-label>
            <input matInput formControlName="link">
          </mat-form-field>
          <button *ngIf="data.mode == 'update'" style="background-color: #1e88e5; color: white; width: 100%; max-width: 400px; margin-top: 20px;"
                  (click)="updateBanner()" mat-flat-button [disabled]="!form.valid || !file" >Update</button>
          <button *ngIf="data.mode == 'create'" style="background-color: #1e88e5; color: white; width: 100%; max-width: 400px; margin-top: 20px;"
          (click)="upload()" mat-flat-button [disabled]="!form.valid || !file" >Upload</button>
        </form>
      </mat-card>
    </div>
</div>