<div class="main_container">

    <div class="flex pad-8 header">
  
      <!-- HEADING -->
      <p class="heading">Update Banner </p>
  
  </div>
  
  
  <div class="input-card">
      <mat-card appearance="outlined" style="width: 500px; height: 380px; display: flex; flex-direction: column; align-items: center; overflow-x: hidden;">
        <h1 class="heading">Upload Image</h1>
        <form [formGroup]="form" style="width: 100%; max-width: 400px;">
          <div class="file-input">
            <input type="file" id="fileUpload" (change)="onFileSelected($event)" required>
            <mat-error *ngIf="!file">Image file is required</mat-error>
          </div>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Text</mat-label>
            <input matInput formControlName="text">
          </mat-form-field>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Link</mat-label>
            <input matInput formControlName="link">
          </mat-form-field>
          <button style="background-color: #1e88e5; color: white; width: 100%; max-width: 400px; margin-top: 20px;"
                  (click)="updateBanner()" mat-flat-button [disabled]="!form.valid || !file" >Update</button>
        </form>
      </mat-card>
    </div>
</div>