<!-- NGX LOADER -->
<div class="ngxLoader" *ngIf="showLoader">
    <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>

<div class="main_container">

    <div class="flex pad-8 header">

        <!-- HEADING -->
        <p class="heading capital">Hello , {{userData?.admin.firstName}} {{userData?.admin.lastName || ''}}</p>
        <div class="spacer"></div>

    </div>

    <div class="company_details">

        <div class="detail">
            <p class="para_heading capital"> revenue</p>

            <div class="value_graph">

                <div class="value">
                    <p class="para_value " style="color: green;">
                        3245 </p>
                </div>

                <div class="graph">
                    <img src="../../../../../../../assets/images/company_rewenue.png" width="60%" alt="">
                </div>

            </div>
        </div>

        <div class="detail">
            <p class="para_heading">New Patients</p>

            <div class="value_graph">

                <div class="value">
                    <p class="para_value">30</p>
                </div>

                <div class="graph">
                    <img src="../../../../../../../assets/images/new_user.png" width="50%" alt="">
                </div>

            </div>
        </div>

        <div class="detail">
            <p class="para_heading">Total Doctors</p>

            <div class="value_graph">

                <div class="value">
                    <p class="para_value">12 </p>
                </div>

                <div class="graph">
                    <img src="../../../../../../../assets/images/wallet_money_business_coin.png" width="60%" alt="">
                </div>

            </div>
        </div>

        <div class="detail">
            <p class="para_heading">Doctor on Leave</p>

            <div class="value_graph">

                <div class="value">
                    <p class="para_value"> 2</p>
                    <!-- <p class="para">{{filterDays}}</p> -->
                </div>

                <div class="graph">
                    <img src="../../../../../../../assets/images/withdrawal.png" width="60%" alt="">
                </div>

            </div>
        </div>

    </div>

    <!-- <div class="company_rewenue_graph">

        <apx-chart [series]="series" [chart]="chart" [dataLabels]="dataLabels" [markers]="markers" [title]="title"
            [fill]="fill" [yaxis]="yaxis" [xaxis]="xaxis" [tooltip]="tooltip" [autoUpdateSeries]="true"></apx-chart>
    </div> -->


</div>