<div *ngIf="menu">
  <mat-list-item class="list-item" (click)="navigateToRoute()"
    [class.highlight-menu]="shouldHighlightButton(menu.route)">
    
    <button mat-icon-button class="btn" (click)="navigateToRoute()" [disabled]="menu.disabled"
      (click)="stopPropagation($event)">
      <!-- <mat-icon *ngIf="menu.iconName">{{menu.iconName}}</mat-icon> -->
      <span style="font-size: 17px;">{{menu.displayName}}</span>
    </button>

    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="menu.children && menu.children.length">
      expand_more</mat-icon>
  </mat-list-item>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="menu.children && menu.children.length ">


    <ng-container *ngFor="let subMenu of menu.children">
      <app-menu-list [menu]="subMenu"></app-menu-list>
    </ng-container>

  </div>
</div>