<!-- NGX LOADER -->
<div class="ngxLoader" *ngIf="showLoader">
    <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>

  <div class="main_container">

  <div  class="flex pad-8 header">

    <!-- HEADING -->
    <p class="heading">Symbol Logo </p>
    <div class="spacer"></div>

    <div class="mt-30">
      <!-- SHOW LIST BUTTON -->
      <button mat-button class="upload-button" (click)="openUpload()">
          <span>Upload Logo</span>
      </button>
  </div>

</div>

  <div class="container">
    <div class="card" *ngFor="let data of logos">
      <div class="center-image">
      <img mat-card-image [src]="data.url" alt="..." class="mat-card-image image">
    </div>
      <mat-icon class="deleteButton" matTooltip="Delete logo" (click)="deleteLogo(data)">close</mat-icon>
      <div class="card-content">
        <p ><b>Symbol name: </b>{{  data.symbol }}</p>
      </div>
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="updateLogo(data)">Update</button>
      </div>
    </div>
  </div>

</div>


  




