
.input-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    padding: 0px 10px;
}


.file-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;

    input {
        margin-left: 70px;
    }
}


.file-label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.input {
    width: 100%;
}

.upload-card {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 221px;
    mat-card-actions {
        display: flex;
        justify-content: center;

    }

}
.deleteButton {
    position: relative;
    z-index: 100;
    cursor: pointer;
    left: 334px;
    bottom: 170px;
    left: 339px;
    background-color: red;
    color: white;
    height: 22px;
  }


.mat-card{
    width: 500px; 
    height: 380px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


.form{
    width: 100%; 
    max-width: 400px;
}

.uploadButton{
    background-color: #1e88e5 !important; 
    color: white !important; 
    width: 100%; 
    // max-width: 400px; 
    // margin-top: 20px;
}

.mat-card-image{
    width: 100%; 
    height: 129px; 
    object-fit: cover; 
    margin-top: 59px;
}

.symbol-name{
    white-space: nowrap;
    margin-top: 0;
}

.mat-card{
    height: 264px;
}

.mt-30{
    margin-top: 30px;
}

.upload-button{
    border: 1px solid #CCCBCB;
    width: auto;
    border-radius: 3px;
    background-color: #ffffff;
    color: #635D5D;
    font-weight: 600;
    margin-left: 0;
    height: 36px;
    cursor: pointer;
    padding: 10px;
  }

  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e88e5;
    color: white;
}

.mat-icon{
    cursor: pointer;
}