<!-- NGX LOADER -->
<div class="ngxLoader" *ngIf="showLoader">
    <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>

  <div class="main_container">

  <div class="flex pad-8 header">

    <!-- HEADING -->
    <p class="heading">Symbol Logo </p>
    <div class="spacer"></div>

</div>


<div class="input-card">
    <mat-card appearance="outlined" style="width: 500px; height: 380px; display: flex; flex-direction: column; align-items: center;">
      <h1 class="heading">Upload Image</h1>
      <form [formGroup]="form" style="width: 100%; max-width: 400px;">
        <div class="file-input">
          <input type="file" id="fileUpload" (change)="onFileSelected($event)" required>
          <mat-error *ngIf="!file">Image file is required</mat-error>
        </div>
        <mat-form-field appearance="outline" class="input">
          <mat-label>Symbol</mat-label>
          <input matInput formControlName="symbol">
        </mat-form-field>
        <button style="background-color: #1e88e5; color: white; width: 100%; max-width: 400px; margin-top: 20px;"
                (click)="upload()" mat-flat-button [disabled]="!form.valid || !file" >Upload</button>
      </form>
    </mat-card>
  </div>


  <div class="container">
    <mat-grid-list cols="4" gutterSize="16px">
      <mat-grid-tile *ngFor="let data of logos" >
        <div class="deleteButton">
        </div>
        <mat-card class="upload-card" style="
        height: 252px;">
            <div>
          <img mat-card-image [src]="data.url" alt="..." style="width: 100%; height: 129px; object-fit: cover; margin-top: 59px;">
        </div>
          <mat-card-content>
            <h5>Symbol Name: {{ data.symbol || 'symbol' }}</h5>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  

  </div>


