<!-- NGX LOADER -->
<div class="ngxLoader" *ngIf="showLoader">
    <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>

  <div class="main_container">

  <div class="flex pad-8 header">

    <!-- HEADING -->
    <p class="heading">Banner </p>
    <div class="spacer"></div>

    <div class="mt-30">
      <!-- SHOW LIST BUTTON -->
      <button mat-button class="upload-button" (click)="openUpload()">
          <span>Upload Banner</span>
      </button>
  </div>

</div>
  <div class="container">
    <div class="card" *ngFor="let banner of data">
      <img mat-card-image [src]="banner.imageLink" alt="..." class="mat-card-image">
      <mat-icon class="deleteButton" matTooltip="Delete banner" (click)="deleteBanner(banner.id)">close</mat-icon>
      <div class="card-content">
        <p ><b>Text: </b>{{ banner.text }}</p>
        <p><b>Link: </b>{{ banner.link  }} </p>
      </div>
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="updateBanner(banner.id)">Update</button>
      </div>
    </div>
  </div>
  
  
  

  </div>


