<!-- NGX LOADER -->
<div class="ngxLoader" *ngIf="showLoader">
    <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>

  <div class="main_container">

  <div class="flex pad-8 header">

    <!-- HEADING -->
    <p class="heading">Banner </p>
    <div class="spacer"></div>

</div>


<div class="input-card">
    <mat-card appearance="outlined" style="width: 500px; height: 380px; display: flex; flex-direction: column; align-items: center;">
      <h1 class="heading">Upload Image</h1>
      <form [formGroup]="form" style="width: 100%; max-width: 400px;">
        <div class="file-input">
          <input type="file" id="fileUpload" (change)="onFileSelected($event)" required>
          <mat-error *ngIf="!file">Image file is required</mat-error>
        </div>
        <mat-form-field appearance="outline" class="input">
          <mat-label>Text</mat-label>
          <input matInput formControlName="text">
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
          <mat-label>Link</mat-label>
          <input matInput formControlName="link">
        </mat-form-field>
        <button style="background-color: #1e88e5; color: white; width: 100%; max-width: 400px; margin-top: 20px;"
                (click)="upload()" mat-flat-button [disabled]="!form.valid || !file" >Upload</button>
      </form>
    </mat-card>
  </div>


  <div class="container">
    <mat-grid-list cols="4" gutterSize="16px">
      <mat-grid-tile *ngFor="let banner of data">
        <div class="deleteButton">
          <mat-icon matTooltip="Delete banner" (click)="deleteBanner(banner.id)">close</mat-icon>
        </div>
        <mat-card class="upload-card">
          <img mat-card-image [src]="banner.imageLink" alt="..." style="width: 100%; height: 200px; object-fit: cover;">
          <mat-card-content>
            <h5>{{ banner.text || 'Card title' }}</h5>
            <h5>{{ banner.link || 'Link' }}</h5>
          </mat-card-content>
          <mat-card-actions class="matcardactions">
       
            <button mat-flat-button color="primary" (click)="updateBanner(banner.id)">Update</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  

  </div>


